.wave {
    animation-name: wave-animation;
    animation-duration: 2.1s;
    animation-iteration-count: infinite;
    transform-origin: 70% 70%;
    display: inline-block;
}
  
@keyframes wave-animation {
    0% {
      transform: rotate(0deg);
    }
    10% {
      transform: rotate(14deg);
    }
    20% {
      transform: rotate(-8deg);
    }
    30% {
      transform: rotate(14deg);
    }
    40% {
      transform: rotate(-4deg);
    }
    50% {
      transform: rotate(10deg);
    }
    60% {
      transform: rotate(0deg);
    }
    100% {
      transform: rotate(0deg);
    }
}

.home-section {
    height: 100%;
    width: 100%;
}

.home-content {
    user-select: none;
    cursor: default;
    width: 100%;
    height: 100vh;
    color: whitesmoke;
    text-align: left;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
}

.home-content .heading {
    font-size: 5rem !important;
    color: white;
}
  
.home-content .heading-name {
    font-size: 7rem !important;
}

.heading-type {
    margin-top: 15px !important;
}

.main-name {
    color: #465fdd;
}

.scroll-down {
    height: 7vh;
    width: 7vh;
    color: white;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    bottom: 10vh;
    cursor: pointer;
    z-index: 1;
    border-radius: 50%;
    animation: bounce 2s infinite;
}

@keyframes bounce {
    0%, 20%, 50%, 80% {
        transform: translateX(-50%) translateY(0);
    }
    40% {
        transform: translateX(-50%) translateY(-10px);
    }
    60% {
        transform: translateX(-50%) translateY(-5px);
    }
    100% {
        transform: translateX(-50%) translateY(0); /* Pause at the end */
    }
}
  
.Typewriter__wrapper {
    font-size: 4.5rem !important;
    color: #556de7 !important;
    font-weight: 1000 !important;
}
.Typewriter__cursor {
    font-size: 4.5rem !important;
    color: #5d72db !important;
}

@media (max-width: 1405px) {
    .home-content .heading {
        font-size: 2.5rem !important;
    }
    .home-content .heading-name {
        font-size: 3.5rem !important;
    }
    .Typewriter__wrapper {
        font-size: 2.5rem !important;
    }
    .Typewriter__cursor {
        font-size: 2.5rem !important;
    }
}
  
@media only screen and (max-width: 768px) {
    .Typewriter__wrapper {
        font-size: 2.5rem !important;
        font-weight: 500 !important;
        position: absolute !important;
    }
    .Typewriter__cursor {
        font-size: 2.5rem !important;
        display: none !important;
    }

    .heading {
        font-size: 3rem !important;
    }
    
    .heading-name {
        font-size: 4.2rem !important;
    }
}
