@import url("https://fonts.googleapis.com/css2?family=Raleway:wght@500&display=swap");
@import url('https://cdnjs.cloudflare.com/ajax/libs/prism/1.25.0/themes/prism-tomorrow.min.css');

body {
  margin: 0;
  font-family: "Raleway", serif !important;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-image: linear-gradient(to top, #0F4C75 -50%, rgb(11, 0, 46));
  background-attachment: fixed;
}

html, body {
  min-height: 100%;
}

#root, .App {
  min-height: 100%;
  margin: 0;
}

[data-aos="custom-slide-left"] {
    opacity: 0;
    transform: translateX(-150%);
    transition: opacity 0.6s ease-out, transform 0.6s ease-out;
}
  
[data-aos="custom-slide-left"].aos-animate {
    opacity: 1;
    transform: translateX(0);
}
  
[data-aos="custom-slide-right"] {
    opacity: 0;
    transform: translateX(150%);
    transition: opacity 0.6s ease-out, transform 0.6s ease-out;
}
  
[data-aos="custom-slide-right"].aos-animate {
    opacity: 1;
    transform: translateX(0);
}