@font-face {
    font-family: "Raleway";
    src: url("./Assets/Fonts/Raleway-Regular.woff2") format("woff2"),
         url("./Assets/Fonts/Raleway-Regular.woff") format("woff");
    font-weight: 500;
    font-display: swap;
}

body {
  margin: 0;
  font-family: "Raleway", serif !important;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-image: linear-gradient(to top, #0F4C75 -50%, rgb(11, 0, 46));
  background-attachment: fixed;
}

html, body {
    min-height: 100%;
}

#root, .App {
  min-height: 100%;
  margin: 0;
}

[data-aos="custom-slide-left"] {
    opacity: 0;
    transform: translateX(-150%);
    transition: opacity 0.6s ease-out, transform 0.6s ease-out;
}
  
[data-aos="custom-slide-left"].aos-animate {
    opacity: 1;
    transform: translateX(0);
}
  
[data-aos="custom-slide-right"] {
    opacity: 0;
    transform: translateX(150%);
    transition: opacity 0.6s ease-out, transform 0.6s ease-out;
}
  
[data-aos="custom-slide-right"].aos-animate {
    opacity: 1;
    transform: translateX(0);
}

